<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HistoQc</title>
    <style>
        ul{
            width:400px;
            height: 30px;
            display: block;
            margin: 0 auto;
            background: #0C0;
        }
        ul li{
            float:left;
            width:100px;
            height: 30px;
            display: block;
            color: #FFF;
            line-height: 30px;
            text-align: center;
            list-style-type: None;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/">HistoQc</a></li>
        <li><a href="/upload"> Upload </a></li>
        <li><a href="/gallery"> Gallery </a></li>
        <li><a href="/about"> About </a></li>
    </ul>
</body>